.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.product-table {
  border: 3px solid orange;
  margin: 20px;

}

.product-search {
  border: 3px solid blue;
  padding: 20px;
  border-radius: 5%;
  margin: 20px;
}

.products {
  border: 3px solid green;
  padding: 20px;
  border-radius: 5%;
  margin: 20px;
}

.name-column {
  float: left;
  width: 50%;
}

.price-column {
  float: right;
  width: 50%;
}

input {
  margin: 5px;
}